<div class="container mx-auto px-6 py-10 md:p-32">
 <%= link_to "batches", batches_path, class:"text-gray-600 hover:text-gray-700" %> / <%= link_to "program", batch_path(params[:batch_id]), class:"text-gray-600 hover:text-gray-700" %> / <%= link_to "project list", program_path(params[:id], name: Program.find(params[:id]).name, batch_id: Batch.find(params[:batch_id])), class:"text-gray-600 hover:text-gray-700" %> / students

  <h3 class="text-xl font-semibold text-red-500 mb-4 mt-10">Project: <b><%= @project.title %></b></h3>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 p-6 md:p-32 place-items-center">
    <% @project.students.each do |student| %>
      <div class="w-full p-6 bg-white shadow-lg rounded-lg border-t-4 border-red-500">
        <div class="mb-4 p-4 border-b-2 border-gray-200 last:border-none">
          <h3 class="text-xl font-semibold text-gray-800 truncate hover:text-red-500"><%= student.usn %></h3>
          <h3 class="text-xl font-semibold text-gray-800 truncate hover:text-red-500"><%= student.name %></h3>

        </div>
      </div>
    <% end %>
  </div>
</div>
