<!DOCTYPE html>
<html>
  <head>
    <title>CseSoftware</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <p class="bg-green-500 text-white"><%= notice %></p>
    <p class="bg-red-500 text-white"><%= alert %></p>


    <% if session[:guide_id] %>
      <%= button_to "Log Out", guide_path(Guide.find(session[:guide_id])), method: :delete, class:"p-3 text-white bg-red-500" %> 
      <%= Guide.find(session[:guide_id]).name %>
      <%= session[:user_category] %>
    <% else %>
      <%= link_to "Guides", guides_path, class:"p-3 text-white bg-purple-500" %>
    <% end %>

    <% if session[:guide_id]%>
      <%= render "shared/sidebar" %>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
